VITE_API_URL=https://platform.sbx.swipelux.com
VITE_API_TOKEN=your-api-key-here
VITE_SANDBOX_TOKEN=your-api-key-here
VITE_CUSTOMER_ID=
VITE_RECIPIENT_ACCOUNT_ID=racc_xxx
VITE_RECIPIENT_WALLET_ID=wal_xxx
VITE_DEMO_EMAIL=ak2@swipelux.com
